# Importing Libraries

In [25]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import warnings

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score, roc_curve
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier

# building validation framework 
from sklearn.model_selection import train_test_split

# categorical encoding 
from sklearn.feature_extraction import DictVectorizer

# Loading and Data Overview

In [2]:
# Loading dataset
df = pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')

In [3]:
# Creating a deep copy of the dataset 
df = df.copy(deep=True)

In [4]:
# Ignore all warnings
warnings.filterwarnings("ignore")

In [5]:
# View first five rows
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [6]:
# View the last five rows
df.tail()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [7]:
# check for the total rows and columns
print('Total numbers of rows: ', df.shape[0], 'Total number of columns: ', df.shape[1])

Total numbers of rows:  7043 Total number of columns:  21

In [8]:
# Check for the brief columns summary
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [9]:
# Check for missing values in each columns
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [10]:
# Check and display if there is duplicate rows in the dataset
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
7038    False
7039    False
7040    False
7041    False
7042    False
Length: 7043, dtype: bool

In [11]:
# Check for total number of unique values in each column
unique_counts = df.nunique()
print('Unique counts per column: ')
print(unique_counts)

Unique counts per column:
customerID          7043
gender                 2
SeniorCitizen          2
Partner                2
Dependents             2
tenure                73
PhoneService           2
MultipleLines          3
InternetService        3
OnlineSecurity         3
OnlineBackup           3
DeviceProtection       3
TechSupport            3
StreamingTV            3
StreamingMovies        3
Contract               3
PaperlessBilling       2
PaymentMethod          4
MonthlyCharges      1585
TotalCharges        6531
Churn                  2
dtype: int64

# Data Preprocessing
- Normalizing the column names
- Replacing empty string with nan and fill for missing values
- deleted the customer id column
- change the data type on the columns
- any other processing that is necessary

In [12]:
# Convert column names to lower case
df.columns = df.columns.str.lower()

In [13]:
#preview the columns
df.columns

Index(['customerid', 'gender', 'seniorcitizen', 'partner', 'dependents',
       'tenure', 'phoneservice', 'multiplelines', 'internetservice',
       'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport',
       'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling',
       'paymentmethod', 'monthlycharges', 'totalcharges', 'churn'],
      dtype='object')

In [15]:
# delete the customer id column 
del df['customerid']

In [16]:
df.columns

Index(['gender', 'seniorcitizen', 'partner', 'dependents', 'tenure',
       'phoneservice', 'multiplelines', 'internetservice', 'onlinesecurity',
       'onlinebackup', 'deviceprotection', 'techsupport', 'streamingtv',
       'streamingmovies', 'contract', 'paperlessbilling', 'paymentmethod',
       'monthlycharges', 'totalcharges', 'churn'],
      dtype='object')

In [17]:
# Display the first five rows with transpose
transposed = df.head().T
print('First five rows (transposed): ')
print(transposed)

First five rows (transposed):
                                 0             1               2  \
gender                      Female          Male            Male
seniorcitizen                    0             0               0
partner                        Yes            No              No
dependents                      No            No              No
tenure                           1            34               2
phoneservice                    No           Yes             Yes
multiplelines     No phone service            No              No
internetservice                DSL           DSL             DSL
onlinesecurity                  No           Yes             Yes
onlinebackup                   Yes            No             Yes
deviceprotection                No           Yes              No
techsupport                     No            No              No
streamingtv                     No            No              No
streamingmovies                 No            No              No
contract            Month-to-month      One year  Month-to-month
paperlessbilling               Yes            No             Yes
paymentmethod     Electronic check  Mailed check    Mailed check
monthlycharges               29.85         56.95           53.85
totalcharges                 29.85        1889.5          108.15
churn                           No            No             Yes

                                          3                 4
gender                                 Male            Female
seniorcitizen                             0                 0
partner                                  No                No
dependents                               No                No
tenure                                   45                 2
phoneservice                             No               Yes
multiplelines              No phone service                No
internetservice                         DSL       Fiber optic
onlinesecurity                          Yes                No
onlinebackup                             No                No
deviceprotection                        Yes                No
techsupport                             Yes                No
streamingtv                              No                No
streamingmovies                          No                No
contract                           One year    Month-to-month
paperlessbilling                         No               Yes
paymentmethod     Bank transfer (automatic)  Electronic check
monthlycharges                         42.3              70.7
totalcharges                        1840.75            151.65
churn                                    No               Yes

In [18]:
## lets change the datatype of 'object' columns to category datatypes.
df.dtypes

gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges         object
churn                object
dtype: object

In [19]:
# Convert all object columns to category
# Select columns with dtype 'object'
object_columns = df.select_dtypes(include='object').columns  
df[object_columns] = df[object_columns].astype('category')

print(f'Data Types After Conversion:')
print(df.dtypes)

Data Types After Conversion:
gender              category
seniorcitizen          int64
partner             category
dependents          category
tenure                 int64
phoneservice        category
multiplelines       category
internetservice     category
onlinesecurity      category
onlinebackup        category
deviceprotection    category
techsupport         category
streamingtv         category
streamingmovies     category
contract            category
paperlessbilling    category
paymentmethod       category
monthlycharges       float64
totalcharges        category
churn               category
dtype: object

In [20]:
# Convert the target column, where yes == 1 and no = 0
# Convert 'Target' column: 'Yes' -> 1, 'No' -> 0
df['partner'] = df['partner'].replace({'Yes': 1, 'No': 0})
df['dependents'] = df['dependents'].replace({'Yes': 1, 'No': 0})
df['phoneservice'] = df['phoneservice'].replace({'Yes': 1, 'No': 0})
df['onlinesecurity'] = df['onlinesecurity'].replace({'Yes': 1, 'No': 0})
df['onlinebackup'] = df['onlinebackup'].replace({'Yes': 1, 'No': 0})
df['techsupport'] = df['techsupport'].replace({'Yes': 1, 'No': 0})
df['streamingmovies'] = df['streamingmovies'].replace({'Yes': 1, 'No': 0})
df['paperlessbilling'] = df['paperlessbilling'].replace({'Yes': 1, 'No': 0})
df['streamingtv'] = df['streamingtv'].replace({'Yes': 1, 'No': 0})
df['churn'] = df['churn'].replace({'Yes': 1, 'No': 0})
df['deviceprotection'] = df['deviceprotection'].replace({'Yes': 1, 'No': 0})

In [21]:
df

,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
0,Female,0,1,0,1,0,No phone service,DSL,0,1,0,0,0,0,Month-to-month,1,Electronic check,29.85,29.85,0
1,Male,0,0,0,34,1,No,DSL,1,0,1,0,0,0,One year,0,Mailed check,56.95,1889.5,0
2,Male,0,0,0,2,1,No,DSL,1,1,0,0,0,0,Month-to-month,1,Mailed check,53.85,108.15,1
3,Male,0,0,0,45,0,No phone service,DSL,1,0,1,1,0,0,One year,0,Bank transfer (automatic),42.30,1840.75,0
4,Female,0,0,0,2,1,No,Fiber optic,0,0,0,0,0,0,Month-to-month,1,Electronic check,70.70,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,1,1,24,1,Yes,DSL,1,0,1,1,1,1,One year,1,Mailed check,84.80,1990.5,0
7039,Female,0,1,1,72,1,Yes,Fiber optic,0,1,1,0,1,1,One year,1,Credit card (automatic),103.20,7362.9,0
7040,Female,0,1,1,11,0,No phone service,DSL,1,0,0,0,0,0,Month-to-month,1,Electronic check,29.60,346.45,0
7041,Male,1,1,0,4,1,Yes,Fiber optic,0,0,0,0,0,0,Month-to-month,1,Mailed check,74.40,306.6,1
7042,Male,0,0,0,66,1,No,Fiber optic,1,0,1,1,1,1,Two year,1,Bank transfer (automatic),105.65,6844.5,0

In [22]:
# Previewing the churn column 
df['churn']

0       0
1       0
2       1
3       0
4       1
       ..
7038    0
7039    0
7040    0
7041    1
7042    0
Name: churn, Length: 7043, dtype: category
Categories (2, int64): [0, 1]

# Exploratory Data Analysis
- Target Variable Analysis 
- Outlier analysis 
- any other analysis which is important to this work.

In [23]:
df.describe().round(0)

       seniorcitizen  tenure  monthlycharges
count         7043.0  7043.0          7043.0
mean             0.0    32.0            65.0
std              0.0    25.0            30.0
min              0.0     0.0            18.0
25%              0.0     9.0            36.0
50%              0.0    29.0            70.0
75%              0.0    55.0            90.0
max              1.0    72.0           119.0

In [24]:
df.head()

,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
0,Female,0,1,0,1,0,No phone service,DSL,0,1,0,0,0,0,Month-to-month,1,Electronic check,29.85,29.85,0
1,Male,0,0,0,34,1,No,DSL,1,0,1,0,0,0,One year,0,Mailed check,56.95,1889.5,0
2,Male,0,0,0,2,1,No,DSL,1,1,0,0,0,0,Month-to-month,1,Mailed check,53.85,108.15,1
3,Male,0,0,0,45,0,No phone service,DSL,1,0,1,1,0,0,One year,0,Bank transfer (automatic),42.30,1840.75,0
4,Female,0,0,0,2,1,No,Fiber optic,0,0,0,0,0,0,Month-to-month,1,Electronic check,70.70,151.65,1

In [ ]:
# Select columns with dtype 'category'
object_columns = df.select_dtypes(include='object').columns  
df[object_columns] = df[object_columns].astype('category')

In [ ]:
numerical_cols = df.select_dtypes(include=['int', 'float'])

corr_matrix = numerical_cols.corr()

corr_matrix['churn']